*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#071018;
  color:white;
}

.container{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.box{
  width:100%;
  max-width:450px;
  background:#0c1722;
  padding:40px;
  border-radius:20px;
}

h1{
  color:#00d9ff;
  margin-bottom:10px;
}

p{
  color:#c2c2c2;
  margin-bottom:30px;
}

form{
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:25px;
}

input{
  padding:16px;
  border:none;
  border-radius:10px;
  background:#111d29;
  color:white;
}

button{
  padding:16px;
  border:none;
  border-radius:10px;
  background:#00d9ff;
  color:black;
  font-weight:bold;
  cursor:pointer;
}

#message{
  margin-top:20px;
  color:#00ff99;
}
